*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.produtos p {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: darkred;
    padding: 30px;
    background-color: rgba(230, 201, 201);
}
